<ion-header >
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
        <ion-title class="ion-text-left" > Meteo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<!-- <ion-card>
  <ion-item>
   Date: {{cityWeather.dt*1000 | date:'dd/MM/yyyy HH:mm' }}
   Date: {{cityWeather.dt*1000 | date:'medium' }}
   </ion-item>
</ion-card> -->
  <ion-card>
      <ion-item>
        <ion-label position="floating">City:</ion-label>
        <ion-input #i [value]="cityWeather.name"></ion-input>
        <ion-button fill="outline" slot="end" (click)="onGetWeather(i.value)">Go</ion-button>
      </ion-item>

  </ion-card>
  <div >
    <ion-card>
      <ion-card-content >

        <ion-list >

      <ion-item>
        <ion-label>temperature: {{cityWeather.temperature}} °c </ion-label>

      </ion-item>
      <ion-item>
        <ion-label>humidity: {{cityWeather.humidity}} %</ion-label>
        <ion-img src="assets\weather\{{weatherIconURL}} "></ion-img>
      </ion-item>
      <ion-item>
        <ion-label>longtitude: {{cityWeather.longtitude}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>latitude: {{cityWeather.latitude}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>weather: {{cityWeather.weather}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label> description:  </ion-label>
         {{cityWeather.description}}
      </ion-item>
     </ion-list>


    </ion-card-content>
    </ion-card>
  </div>


</ion-content>
