<ion-app>

  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>

        <ion-list>
          <ion-item *ngFor="let m of menuList">
            <ion-icon [name]="m.icon" ></ion-icon>
            <ion-label (click)="onGetMenu(m.url)" >{{m.title}} </ion-label>
          </ion-item>

          <div *ngIf="auth">
            <ion-item *ngFor="let a of authList">
              <ion-icon [name]="a.icon" ></ion-icon>
              <ion-label (click)="onGetMenu(a.url)" >{{a.title}} </ion-label>
            </ion-item>
          </div>

            <ion-item *ngIf="!auth">
              <ion-icon [name]="loginLInk.icon" ></ion-icon>
              <ion-label (click)="onGetMenu(loginLInk.url)" >{{loginLInk.title}} </ion-label>
            </ion-item>

        </ion-list>


      </ion-menu-toggle>
    </ion-content>


  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>



</ion-app>
