<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
    <!-- <ion-icon slot="start" color="danger" name="home"></ion-icon> -->
  </ion-toolbar>
</ion-header>
<!--
<ion-content>
  <ion-card>
    <ion-card-title>
      Informations
    </ion-card-title>
    <ion-card-content>

      <ion-img src="assets\images\ionic-framework.png">

      </ion-img>
    </ion-card-content>
    <ion-button (click)="buttonClicked()" expand="block" shape="round">
      Click me
    </ion-button>

  </ion-card>

</ion-content> -->
<ion-content>
  hello from home
</ion-content>
