<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>

  <ion-icon name="camera"  slot="icon-only"  color="light" (click)="onTakePicture()" slot="end" size="large" class="ion-margin" ></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-text color="tertiary" class="ion-padding" >
    <h6>Welcome to MyDemo  Mobile App, this App made for demonstration of skills,for more informations visit  <a routerLink="about-me">About me</a> </h6>
   </ion-text>








</ion-content>
